<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_BASIC_ACCOUNTS_SETTINGS'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset" data-bind="visible: visibleCreateForm">
			<h2 class="subheading" data-bind="text: createAccountHeading"></h2>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGIN'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: login, hasFocus: loginFocus, enable: currentAccountId() === 0, css: {'disabled': currentAccountId() !== 0}" />
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'CORECLIENT/LABEL_PASSWORD'}"></span>
				<span class="value">
					<input class="input" type="password" data-bind="value: pass, hasFocus: passFocus" />
				</span>
			</div>
		</div>

		<div class="buttons" data-bind="visible: visibleCreateForm">
			<span class="button" data-bind="click: saveAccount, visible: !isCreating()">
				<span data-bind="text: updateButtonText"></span>
			</span>
			<span class="button" data-bind="visible: isCreating()">
				<span data-bind="text: updateProgressButtonText"></span>
			</span>
			<span class="button secondary_button" data-bind="click: hideEditAccountForm, visible: !isCreating()">
				<span data-bind="i18n: {'key': 'CORECLIENT/ACTION_CANCEL'}"></span>
			</span>
		</div>
	</div>
</div>
