<div class="panel_center">
	<div style="margin: 20px 0;">
		<div class="items_list accounts_list" data-bind="visible: accounts().length > 0">
			<div data-bind="foreach: accounts">
				<div class="item account" data-bind="css: {'selected': $parent.currentAccountId() === id}, click: function () { $parent.openEditAccountForm(id); }">
					<span class="title" data-bind="text: login"></span>
					<span class="link" data-bind="i18n: {'key': 'CORECLIENT/ACTION_DELETE'}, click: function () { $parent.confirmAccountDeleting(id, login); }, clickBubble: false"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="fields">
		<div class="buttons" data-bind="visible: !visibleCreateForm() || currentAccountId() !== 0">
			<span class="button" data-bind="click: function () { openEditAccountForm(0); }">
				<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CREATE_NEW_ACCOUNT'}"></span>
			</span>
		</div>
		
		<div class="fieldset" data-bind="visible: visibleCreateForm">
			<h2 class="subheading" data-bind="text: createAccountHeading"></h2>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_LOGIN'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: login, hasFocus: loginFocus, enable: currentAccountId() === 0, css: {'disabled': currentAccountId() !== 0}" />
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'CORECLIENT/LABEL_PASSWORD'}"></span>
				<span class="value">
					<input class="input" type="password" data-bind="value: pass, hasFocus: passFocus" />
				</span>
			</div>
		</div>

		<div class="buttons" data-bind="visible: visibleCreateForm">
			<span class="button" data-bind="click: saveAccount, visible: !isCreating()">
				<span data-bind="text: updateButtonText"></span>
			</span>
			<span class="button" data-bind="visible: isCreating()">
				<span data-bind="text: updateProgressButtonText"></span>
			</span>
			<span class="button secondary_button" data-bind="click: hideEditAccountForm, visible: !isCreating()">
				<span data-bind="i18n: {'key': 'CORECLIENT/ACTION_CANCEL'}"></span>
			</span>
		</div>
	</div>
</div>
